<a href="https://colab.research.google.com/github/sreepraneeth/Python/blob/master/26_12_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Find large number from given 3 numbers
p=input("enter first number")
q=input("enter second number")
r=input("enter third number")
if(p>=q) and (p>=r):
  print(p)
elif(q>=p) and (q>=r):
  print(q)
else:
  print(r)

enter first number20
enter second number19
enter third number18
20

# While Statement
###Syntax:
#####while Boolean_condition:<br/>
    statements<br/>
    Increment/Decrement<br/>

In [7]:
x=0
while(x<5):
  print(x)
  x+=1

0
1
2
3
4

In [13]:
#Print n natural number using while loop
#input:10
#output:1 2 3 4 5 6 7 8 9 10
n=int(input("enter a number"))
i=1
while(i<=n):
  print(i,end=" ")
  i+=1

enter a number10
1 2 3 4 5 6 7 8 9 10

In [15]:
#add only even number 1 to n
#input:10
#output:30(2+4+6+8+10)
n=int(input("enter a number"))
sum=0
i=1
while(i<=n):
  if(i%2==0):
    sum+=i
  i+=1
print(sum)

enter a number10
30

In [22]:
#Palindrome
#input:123
#output:321
n=int(input("enter your number"))
while(n>0):
  rem=n%10
  print(rem,end=" ")
  n=n//10

enter your number123
3 2 1

#Functional programming
Simple<br/>
Easy Read<br/>
Divides large programs into small  sub programs

#Syntax

def nameofthefunction()

In [24]:
#input:1234
#output:6(2+4)
def addevendigit(n):
  sum=0
  while n>0:
    r=n%10
    if (r%2==0):
      sum+=r
    n=n//10
  return sum
addevendigit(1234)

6

In [28]:
#input:19528
#output:9
def largestdigit(n):
  largest=0
  while(n>0):
    r=n%10
    if(r>largest):
      largest=r
    n=n//10
  return largest
largestdigit(19528)

9

In [30]:
#input:123
#output:321
def palindrome(n):
  pal=0
  while(n>0):
    rem=n%10
    pal=pal*10+rem
    n=n//10
  return pal
palindrome(123)

321

In [34]:
#input:123---123--yes,123----321--no
def ispalindrome(n):
  rev=0
  buffer=n
  while(n>0):
    r=n%10
    rev=rev*10+r
    n=n//10
  if(buffer==rev):
    return "yes"
  else:
    return "no"
print(ispalindrome(123))
print(ispalindrome(121))

no
yes

In [39]:
#print natural numbers from 1 to n using function and for loop
def natural(n):
  for i in range(1,n+1):
    print(i,end=" ")
natural(10)

1 4 7 10

In [44]:
def natural(l):
  for i in range(1,l+1,3):
    print(i,end=" ")
natural(10)

1 4 7 10

In [45]:
def reverserange(start,end):
  for i in range(end,start-1,-1):
    print(i,end=" ")
reverserange(1,10)

10 9 8 7 6 5 4 3 2 1

#Data Structure
-List<br/>
-Tuple<br/>
-Dictionary

#List:
It is one of the data structure in pytho,the items are separated by comma and enclosed by [ ]
>crud operation
- c=create
- r=read
- u=update
- d=delete
- list can be changed

## Example:
-List=[1,2,3,4]

In [48]:
li=[0,1,2,3,4,5] #+ve index starts from 0,1,2,3 -ve starts from -1,-2,-3,-4
print(li)
print(li[0])
print(li[-1])

[0, 1, 2, 3, 4, 5]
0
5