<a href="https://colab.research.google.com/github/sreepraneeth/Python/blob/master/27_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List Examples

In [29]:
li=["gitam",12,124,1323,1323,3451]
print(li)
print(li[1])
print(li[2:])
print(li[2:4])
print(li[-1])
print(li[-4:-1])
print(li[::-1])
print(li[-1::-1])

['gitam', 12, 124, 1323, 1323, 3451]
12
[124, 1323, 1323, 3451]
[124, 1323]
3451
[124, 1323, 1323]
[3451, 1323, 1323, 124, 12, 'gitam']
[3451, 1323, 1323, 124, 12, 'gitam']

In [0]:
#update
li[0]="praneeth"
print(li)

['praneeth', 12, 124, 1323, 1323, 3451]

In [3]:
#delete
del li[3]
print(li)

['praneeth', 12, 124, 1323, 3451]

In [4]:
li=[1,23,3,4,545]
print(len(li))
print(li*2)
print(5 in li)
print(4 in li)

5
[1, 23, 3, 4, 545, 1, 23, 3, 4, 545]
False
True

#Basic List Functions

In [8]:
li=[1,2,3,4,5,6]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)/len(li)) #Average

6
1
21
3.5

In [13]:
li=[1,2,3,4,5,6]
li.append(29) #add an new element at the end of the list
print(li)
li.insert(2,56) #add an new element at a specific index
print(li)

[1, 2, 3, 4, 5, 6, 29]
[1, 2, 56, 3, 4, 5, 6, 29]

In [15]:
li=[1,2,56,3,4,5,6,29]
li.sort()#sorts list in ascending order
print(li)
li.pop()#last index will be deleted
print(li)
li.pop(1)#removes items from specific index
print(li)

[1, 2, 3, 4, 5, 6, 29, 56]
[1, 2, 3, 4, 5, 6, 29]
[1, 3, 4, 5, 6, 29]

In [16]:
li=[2,4,6,8,14,12]
li.sort()
li.pop()
print(li)

[2, 4, 6, 8, 12]

In [20]:
#function to return large number from list
def largenumber(li):
  li.sort()
  return li[-1]
def genericlarge(li,n):
  li.sort()
  return li[-n]
li=[19,1,3,87,32,21,36]
print(largenumber(li))
print(genericlarge(li,3))#Returns the third largest number

87
32

In [23]:
#function to return small number from list
def smallnumber(li):
  li.sort()
  return li[0]
def genericsmall(li,n):
  li.sort()
  return li[n-1]
li=[19,1,3,87,32,21,36]
print(smallnumber(li))
print(genericsmall(li,2))

1
3

#Tuple
- values separated by comma enclosed by parenthesis()
- values cannot be changed i.e immutable
#Difference between List and Tuple
> List
- List can be modified
- used to access means modify,add,delete,update
> Tuple
- Tuple cannot be modified
- used to access data only

In [25]:
t1=(1,2,3,4,5)
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

#Dictionaries:
- Works on concept of set unique data
- Dictionary contains keys and values
- Each key is separated from its values with colon ':'
- Each key and values separated by comma
- Dictionary enclosed by {}

In [34]:
d1={"name":"Gitam","email":"gitam@gmail.com","address":"hyderabad"}
print(d1)

{'name': 'Gitam', 'email': 'gitam@gmail.com', 'address': 'hyderabad'}

In [33]:
d1["name"]

'Gitam'

In [35]:
d1["email"]="python@gmail.com"
print(d1)

{'name': 'Gitam', 'email': 'python@gmail.com', 'address': 'hyderabad'}

In [36]:
d1["course"]="python"
print(d1)

{'name': 'Gitam', 'email': 'python@gmail.com', 'address': 'hyderabad', 'course': 'python'}

In [37]:
#delete
del d1['email']
print(d1)

{'name': 'Gitam', 'address': 'hyderabad', 'course': 'python'}

In [38]:
d1.keys()

dict_keys(['name', 'address', 'course'])

In [39]:
d1.values()

dict_values(['Gitam', 'hyderabad', 'python'])

In [40]:
d1.items()

dict_items([('name', 'Gitam'), ('address', 'hyderabad'), ('course', 'python')])

#Strings:

In [43]:
s1='Python'
print(s1)
print(type(s1))

Python
<class 'str'>

In [48]:
s1='Python'
print(s1[0])
print(s1[5])
print(s1[2:])
print(s1[::-1])
print(s1[-1::-1])
print(s1[1:3])

P
n
thon
nohtyP
nohtyP
yt

In [51]:
s1="Python"
print(s1[len(s1)//2])
print(s1[0:6:2]) #2 is increment

h
Pto

In [52]:
#using function reverse of a string
def reverseofstring(str):
  rev=str[::-1]
  return rev
reverseofstring("programming")

'gnimmargorp'

In [53]:
#using function is palindrome or not for a string
def palindrome(str):
  buffer=str
  pal=str[::-1]
  if(buffer==pal):
    print("palindrome")
  else:
    print("not a palindrome")
palindrome("malayalam")

palindrome

#String built-in methods:
- upper()
- lower()
- islower()
- isupper()
- istitle()
- isnumeric()
- isalpha()
- isdigit()
- isspace()

In [64]:
s1="Python"
print(s1.upper())
print(s1.lower())
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isspace())

PYTHON
python
False
False
True
False
True
False

In [66]:
s2=' '
s3='Py th on'
print(s2.isspace())
print(s3.isspace())

True
False

#String Methods
- join()-
- split()
- replace()

In [67]:
s1='python'
print("3".join(s1))
print(",".join(s1))

p3y3t3h3o3n
p,y,t,h,o,n

In [68]:
s2="python is easy to learn"
print(",".join(s2))

p,y,t,h,o,n, ,i,s, ,e,a,s,y, ,t,o, ,l,e,a,r,n

In [69]:
s1="python is easy to learn"
print(s1.split())
print(s1.split('a'))

['python', 'is', 'easy', 'to', 'learn']
['python is e', 'sy to le', 'rn']

In [71]:
s1="Python is easy to learn"
li=list(s1)
li

['P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'i',
 's',
 ' ',
 'e',
 'a',
 's',
 'y',
 ' ',
 't',
 'o',
 ' ',
 'l',
 'e',
 'a',
 'r',
 'n']

In [72]:
s1="Python is easy to learn"
print(s1.replace("easy","very easy"))

Python is very easy to learn

In [109]:
marks={'peter':[80,85,90],'joe':[86,90,95]}
#output:1)[80,85,90] 2)85 3)86 4)[95,90,86]
print(marks["peter"])
s=(marks["peter"])
print(s[1])
s1=(marks["joe"])
print(s1[0])
s1=s1[::-1]
print(s1)

[80, 85, 90]
85
86
[95, 90, 86]